#footer-logo li {
    display: inline;
    margin-right: 1rem;
}

.card, .small-box, .info-box {
    border-radius: 1rem !important;
}
.card-header {
    border-radius: 1rem 1rem 0 0 !important;
}
.small-box-footer {
    border-radius: 0 0 1rem 1rem !important;
}
.small-box > .inner {
    /* font-size: 2.125rem; */
    font-size: 1.9rem;
    font-weight: 900;
}
.small-box > .inner > p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.info-box .info-box-icon {
    border-radius: 0.8rem;
}
.info-box-number {
    font-size: 1.5rem;
}
.description-percentage {
    font-size: 2.5rem;
    font-weight: 700;
}
.description-header {
    font-size: 1.125rem;
}
.description-text {
    font-size: 1.125rem;
    font-family:  'Roboto', sans-serif !important; 
}
.card-pane-right {
    border-radius: 1rem !important;
}

/* p { */
/*     font-family: 'Roboto', sans-serif !important; */
/* } */

.card-body > p {
    font-family: 'Roboto', sans-serif;
}
.tab-pane > p {
    font-family: 'Roboto', sans-serif;
}
.list-group > p {
    font-family: 'Roboto', sans-serif;
}

/* Cabeçalhos */
h1 {
    overflow: hidden;
    text-align: center;
    margin-bottom: 2rem;
}
h1:before,
h1:after {
    background-color: #333;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
h1:before {
    right: 0.5em;
    margin-left: -50%;
}
h1:after {
    left: 0.5em;
    margin-right: -50%;
}

/* Cabeçalhos */
h2 {
    overflow: hidden;
    text-align: left;
}
h2:before,
h2:after {
    background-color: #333;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 100%;
}
h2:before {
    right: 0.5em;
    margin-left: -100%;
}
h2:after {
    left: 0.5em;
    margin-right: -100%;
}


#coleta_em_mapas-mapa {
    height: calc(100vh - 140px) !important;
}

/* .small-box > .inner { */
/*     font-size: 1.9rem !important; */
/* } */
